.inputBox{
    /* color: blue; */
}
.container{
    color:black;
   /* height: 100vh; */
    min-width: 100vw;
    min-height: 100vh;
    /* font-size: 50px; */
    display: flexbox;
    
   background-image: url("/assets/bg-image/loginBg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 23;
}  
h1,h2 {
  font-weight: 200;
  color: chartreuse;
}
b{
    color: white;
}
h1 { font-size: 3.5em; }
h1 {
  color: #888;
  font-size: 2em;
  display: flexbox;
  position: absolute;
  left: 38%;
  top: 10rem; 
}

.txt-rotate{
    color: chartreuse;
}

.card{
    max-width: 25vw;
    display: flexbox;
    position: relative;
    left: 36%;
    top: 15rem;  

}