.container{
    position: absolute;
    bottom: 15%;
    left: 15%;
   
    
}
.header{
    color:greenyellow
}
.header:hover{
    color: hotpink;
}
/* body{
    background-image: url("/assets/bg-image/loginBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
