<!-- Header -->
<div class="container-fluid shadow p-3 mb-5 bg-white rounded">
    <h2 class="display-8">Stock Board</h2>
</div>
<!-- body -->
<div class="container-fluid">
    <ng-container *ngIf="isAddStock"> 
        <div class="row">
            <div class="col-2">
                Stock ID
            </div>
            <div class="col-2">
                Stock Name
            </div>
            <div class="col-2">
                Location
            </div>
            <div class="col-2">
               Avaliable
            </div>
            <div class="col-2">
                Booked
            </div>
            <div class="col-2">
                Price
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="text" class="form-control" name="" id="stockId">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" name="" id="stockName">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" name="" id="location">
            </div>
            <div class="col-2">
                <input type="number" class="form-control" name="" id="avaliable">
            </div>
            <div class="col-2">
                <input type="number" class="form-control" name="" id="booked">
            </div>
            <div class="col-2 position-relative">
                <input type="number" class="form-control " name="" id="price">
            </div>
        </div>
        <br>
    </ng-container>
    <table class="table table-success table-striped table-hover ">

            <thead>
              <tr>
                <th scope="col">Stock ID</th>
                <th scope="col">Stock Name</th>
                <th scope="col">Location</th>
                <th scope="col">Avaliable</th>
                <th scope="col">Booked</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Thornton</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>Thornton</td>
                <td>Thornton</td>

              </tr>
            </tbody>
          </table>
</div>




<!-- Footer -->
<div class="fixed-bottom footer ">

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-warning btn-lm" (click)="addStock()" *ngIf="!isAddStock"> Add Stock</button>
        <button type="button" class="btn btn-danger btn-lm" (click)="addStock()" *ngIf="isAddStock"> Cancel</button> &nbsp;
        <button type="button" class="btn btn-light btn-lm" (click)="addStock()" *ngIf="isAddStock" (click)="submitStock()" > Submit</button>
    </div>
</div>