<!-- Header -->
<div class="container-fluid shadow p-3 mb-5 bg-white rounded">
    <h2 class="display-8">Stock Board</h2> 
</div>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <label class="btn btn-warning btn-lm">
            Browse <input type="file"  (change)="onFileChange($event)" hidden>
        </label>
        </div>
    <table class="table table-success table-striped table-hover ">

            <thead>
              <tr>
                <th scope="col">Stock ID</th>
                <th scope="col">Stock Name</th>
                <th scope="col">Location</th>
                <th scope="col">Avaliable</th>
                <th scope="col">Booked</th>
                <th scope="col">Price</th>
                <th scope="col">
                    Actions
                </th>
              </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let rowData of data; let rowIndex=index">
                <tr>
                    <th>
                        {{rowIndex+1}}
                    </th>
                    <ng-container *ngFor="let colData of data; let colIndex=index">

                        <td *ngIf="rowData[dataKey[colIndex]]">
                            {{rowData[dataKey[colIndex]]}}
                         </td> 
                    </ng-container>
                    
                   
                    <td > 
                        <i class="fa fa-pencil px-md-1" aria-hidden="true"></i>
                        <i class="fa fa-lock px-md-1" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
            </ng-container>
            <!-- Adding stock -->
              <ng-container *ngIf="isAddStock">
                  <tr>
                      <th>{{data.length+1}}</th>
                     <td>
                        <input type="text" class="form-control" [(ngModel)]="newStock['stockName']" name="" id="stockName">                   
                     </td>
                     <td>
                        <input type="text" class="form-control" [(ngModel)]="newStock['location']" name="" id="location">
                     </td>
                     <td>
                        <input type="number" class="form-control" [(ngModel)]="newStock['booked']" name="" id="booked">                   
                   </td>
                   <td>
                    <input type="number" class="form-control" [(ngModel)]="newStock['avaliable']" name="" id="avaliable">
                   </td>
                   <td>
                    <input type="number" class="form-control " [(ngModel)]="newStock['price']" name="" id="price">
                   </td>
                   <td>
                       
                   </td>
                  </tr>
              </ng-container>
              
            </tbody>
            <div *ngIf="willDownload">
                <a id="download"> Download JSON File </a>
            </div>
          </table>
</div>




<!-- Footer -->
<div class="fixed-bottom footer ">

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-warning btn-lm" (click)="addStock()" *ngIf="!isAddStock"> Add Stock</button>
        
        <ng-container *ngIf="isAddStock">

            <button type="button" class="btn btn-danger btn-lm mx-2" (click)="addStock()"> Cancel</button> 
    
            <button type="button" class="btn btn-light btn-lm"  (click)="submitStock()"> Submit</button>
        </ng-container>
        
    </div>
</div>