
<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <i class="fa fa-connectdevelop fa-2x fa-inverse" aria-hidden="true"></i>&nbsp;
        <a class="navbar-brand" href="javascript:void(0)">Warehouse Management</a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
    </button>
    
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/warehouse']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Stock Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/warehouse/stockimport']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Stock Import</a>
          </li>
          <!-- <li class="nav-item">
            routerlink="/warehouse/stockboard"
            <a class="nav-link" href="javascript:void(0)">Link</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
          &nbsp;  &nbsp;  &nbsp; 
        </form> -->
       
        <a class="navbar-brand " href="#">
            <i class="fa fa-sign-out fa-2x" routerlink="/login"  aria-hidden="true"></i>

          </a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

